---
AlignEscapedNewlines: Left
BasedOnStyle: WebKit
BraceWrapping:
    AfterFunction: true
BreakBeforeBraces: Custom
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: BeforeComma
NamespaceIndentation: None
QualifierAlignment: Right
SpaceAfterTemplateKeyword: false
